{% extends "base.html" %}
{% block title%}
Draw
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/draw.css' %}" />
{% endblock head %}

{% block homevivek %}

<body class="">
    <div id="outer-container" style="width:80%">
        <div id="main-container">
            <header class="top-header ">
                {% endblock homevivek %}

                {% block content %}
                <div id="content">

                    <div class="gallery" id="gallery">

                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/ganesh_drawing.jpg' %}" alt="ganesh god drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/keshav.jpg' %}" alt="keshav drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/bike.jpg' %}" alt="bike drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/cutegirl.jpg' %}" alt="cute girl sketch pen drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/dawface.jpg' %}" alt="sketch drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/eyepen.jpg' %}" alt="eye pen sketch drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/feelingalone.jpg' %}" alt="feeling alone sketch drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/eyepencil.jpg' %}" alt="eye pencil sketch drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/bike.jpg' %}" alt="bike sketch pencil drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/girl.jpg' %}" alt="girld sketch drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/girldraw.jpg' %}" alt="girl sketch drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/girlpen.jpg' %}" alt="girl pen sketch drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/goku.jpg' %}" alt="goku dragon ball z drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/lovenature.jpg' %}" alt="nature love wolf squrrel drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/loveskech.jpg' %}" alt="love sketch drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/vivek.jpeg' %}" alt="vivek sketch pencil drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/purelove.jpg' %}" alt="love drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/sad.jpg' %}" alt="sad child drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/saurabh.jpg' %}" alt="saurabh pencil happy birthday drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/timedraw.jpg' %}" alt="rangoli time"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/vivek2.jpg' %}" alt="pencil sketch vivek drawing"></div>
                        </div>
                        <div class="gallery-item">
                            <div class="content"><img src="{% static '/images/draw/vivek3.jpg' %}" alt="pencil sketch vivek drawing"></div>
                        </div>
                    </div>

                </div>
        </div>
    </div>
    {% endblock content %}

    {% block script %}
    <script>
        var gallery = document.querySelector('#gallery');
        var getVal = function (elem, style) {
            return parseInt(window.getComputedStyle(elem).getPropertyValue(style));
        };
        var getHeight = function (item) {
            return item.querySelector('.content').getBoundingClientRect().height;
        };
        var resizeAll = function () {
            var altura = getVal(gallery, 'grid-auto-rows');
            var gap = getVal(gallery, 'grid-row-gap');
            gallery.querySelectorAll('.gallery-item').forEach(function (item) {
                var el = item;
                el.style.gridRowEnd = "span " + Math.ceil((getHeight(item) + gap) / (altura + gap));
            });
        };
        gallery.querySelectorAll('img').forEach(function (item) {
            item.classList.add('byebye');
            if (item.complete) {
                console.log(item.src);
            } else {
                item.addEventListener('load', function () {
                    var altura = getVal(gallery, 'grid-auto-rows');
                    var gap = getVal(gallery, 'grid-row-gap');
                    var gitem = item.parentElement.parentElement;
                    gitem.style.gridRowEnd = "span " + Math.ceil((getHeight(gitem) + gap) / (altura +
                        gap));
                    item.classList.remove('byebye');
                });
            }
        });
        window.addEventListener('resize', resizeAll);
        gallery.querySelectorAll('.gallery-item').forEach(function (item) {
            item.addEventListener('click', function () {
                item.classList.toggle('full');
            });
        });
    </script>
    {% endblock script %}