{% extends "base.html" %}
{% block title%} 
Error
{% endblock %}
{% block homevivek %}
<script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		
		// Add the missing url to the text
		$("#url").text(window.location.pathname);
		
		// Fix the css locations dynamically
		$("head link").each(function() {
			for (var i=0; i<window.location.pathname.split(/\//g).length-2; i++)
				$(this).attr("href", "../" + $(this).attr("href"));
		});
		
	})
</script>
 <body class="">
 <div style="height: 20px"></div>
<div id="outer-container">
    <div id="main-container">
		 <header class="top-header ">
{% endblock %}

{% block content %}
<div id="content">
  <div class="top-header__link" >
    <h1>404 Page NOT FOUND !!</h1>
    <p>Because , It is not easy to waste time on build every page that you want.
    so please, it's better for you to visit other <a href="{% url '/index.html' %}">page</a></p>
  </div>
</div>
</div></div>

{% endblock %}

