{% extends 'base.html' %}
{% block title%} 
Vivek
{% endblock %}

 {% block content %}
{% block homevivek %}
 <body class="">
 <div style="height: 20px"></div>
<div id="outer-container">
    <div id="main-container">
    <header class="top-header ">
{% endblock %}

        <div id="content">

            <p>
                नमस्ते (Namaste)
            </p>
            <p>
                I still don't like to talk about Me, But here i am to share with you some 
                <strong>Memories</strong> of bunch of living cells that claims to be a happy
                crossbred Programer named <strong>VIVEK</strong>
            </p>
            <ul>
                <li class="color-block"><a href="https://github.com/Vivskecher">Write Code</a></li>
                <li class="color-block"><a href="https://codepen.io/vivskecher">❤ Web</a></li>
                <li class="color-block"><a href="{% url '/draw.html' %}">Draw</a></li>
                <li class="color-block"><a
                        href="#">Play
                        Flute</a></li>
                <li class="color-block"><a href="#">Dream</a></li>
            </ul>
            <div style="text-align: center;"><strong>Creativity Is My Life</strong></div>
        </div>
    </div>
</div>


{% endblock %}