<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  </style>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    

</head>
    {% block content %}
    {% endblock %}

     <footer>
    <section class="social-bar-2">
      <div class="social-bar-2__item  social-bar-2__item--twitter">
        <a target="_blank" href="https://twitter.com/vivek12348" class="social-bar-2__item__text">Twitter</a>
      </div>
      <div class="social-bar-2__item  social-bar-2__item--dribbble">
        <a target="_blank" href="https://www.instagram.com/vivsketcher/" class="social-bar-2__item__text">Instagram</a>
      </div>
      <div class="social-bar-2__item  social-bar-2__item--github">
        <a target="_blank" href="https://github.com/Vivskecher" class="social-bar-2__item__text">Github</a>
      </div>
      <div class="social-bar-2__item  social-bar-2__item--facebook">
        <a target="_blank" href="https://www.facebook.com/vivskecher" class="social-bar-2__item__text">Facebook</a>
      </div>
      <div class="social-bar-2__item  social-bar-2__item--google">
        <a target="_blank" href="https://www.linkedin.com/in/vivsketcher"
          class="social-bar-2__item__text">Linkedin</a>
      </div>
    </section>
    Designed by <a href="https://www.linkedin.com/in/vivsketcher" target="_blank">Vivek</a> . Powered by <a
      href="http://django.com/" target="_blank">Django cactus</a> . Hosted on <a
      href="https://github.com/Vivskecher" target="_blank">Github</a>
  </footer>
 
</body>
</html>