{% extends "base.html" %}
{% block title%}
ROLE-OF-ENGINEERS-IN-A-DEVELOPING-INDIA
{% endblock %}

{% block homevivek %}
<body class="blog">
  <div style="height: 20px"></div>
  <div id="outer-container">
    <div id="main-container">
     <header class="top-header ">
      {% endblock %}

  {% block content %}
      <ol reversed>
      <li><a href="{% url '/posts/ROLE-OF-ENGINEERS-IN-A-DEVELOPING-INDIA.html' %}">ROLE-OF-ENGINEERS-IN-A-DEVELOPING-INDIA</a>
        <time datetime="Fri sept 15 2017 00:00:00 GMT+0000 (UTC)">Sptember 15, 2017</time>
      <a href="/tags/Engineerday" class="content-tag">ENGINEERS DAY</a>
      </li>
      </ol>
    </div>
  </div>
  {% endblock %}